//body font color
$mainTxtColor: #564D2D;
//body/nav background color
$bgColor: #FEFEE0;
//section background color
$secColor: #FFFFFF;
//nav link colors
$navLinkColor: #71653D;
//nav link hover color
$hoverColor: #BFAAA3;
//header max width
$headerMax:500px;
// header border
$headerBorder: #FDFDBD;



@charset "UTF-8";
body, html {
	padding: 0;
	margin: 0;
	color: $mainTxtColor;
	background-color: $bgColor;
}

//a lot of items with borders, mixin to eliminate reduncency
@mixin borders ($bRadius, $bStyle, $bColor, $bWidth) {
    border-color: $bColor;
    border-width: $bWidth;
    border-radius: $bRadius;
    border-style: $bStyle;
}

//included borders mixin
header {
    @include borders (50px, dotted, $headerBorder, 12px);
	margin-left: auto;
	margin-right: auto;
	width: 95%;
    //using $headerMax to do math for other section's widths
	max-width: $headerMax;
	background-color: $secColor;

}

nav {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 95%;
    //math to determine width based on header width
	max-width: $headerMax * 2.5;
}

section {
	margin-top: 20px;
	
}
//nested nav items
.menu {padding: 0px; list-style-type: none;text-transform: uppercase;
    
    li {display: inline-block; padding: 5px 15px 4px 15px;@include borders (50px, solid, #FFFFFF, 5px); background-color: $secColor;
        
        a {color: $navLinkColor;text-decoration: none;line-height: 1.6em;
            
                &:hover {color: $hoverColor;font-weight: 500;}
            }
        }
     }

.menu li.selected {
    @include borders (50px, solid, #FDFDBD, 5px);
	background-color: $secColor;    
}

//used darken to make a border around the section based on the header border color
#about {
    @include borders (100px, solid, darken( $headerBorder, 50% ), medium);
	background-color: $secColor;
	width: 95%;
	max-width: 725px;
	padding-top: 2px;
	padding-bottom: 2px;   
}

.extend1 {
    //math to determine width based on header width
    width: $headerMax / 4;
    background-color: $secColor;
    @include borders (0px, double, black, 10px);
}
//Used @extend to carry properties from .extend1 over to .extendclass2 and added a different heigh and float
.extendclass2 {
    @extend .extend1;
    height: 200px;
    float: left;
    background-color: adjust-hue( $bgColor, 80% );
    //changed hue of background color based on the body background
}
